* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  color: #fff;
}

html {
  font-family: sans-serif;
}

/* Background Images */

.header {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/bg/bg-hero.webp");
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}

.intro {
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/bg/bg-gif.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: black;

  animation: intro-fade 3s;
}

.activities {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/bg/bg-activities.webp");
  background-position: center;
}

.rules {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("images/bg/rules-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-bar {
  display: flex;
  font-family: "neonderthaw";
  flex-direction: row;
  gap: 20px;
  justify-content: end;
  padding-top: 3rem;
  padding-right: 20rem;
  font-size: 1.5rem;
  align-items: center;
}

.nav-item a:link,
.nav-item a:visited {
  text-decoration: none;
  color: #fff;
}

.nav-item a:hover,
.nav-item a:active {
  color: #ff9535;
}

h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  font-size: 3.5rem;
}

p {
  line-height: 1.25rem;
}

@keyframes intro-fade {
  0% {
    opacity: 1;
    display: inherit;
  }
  50% {
    opacity: 1;
    display: inherit;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes neonize {
  from {
    text-shadow: 0 0 8px #fff, 0 0 60px #b915cc, 0 0 120px #b915cc,
      0 0 80px #b915cc;
  }
  to {
    text-shadow: 0 0 4px #fff, 0 0 30px 0 0 60px #ff9535, 0 0 80px #ff9535;
  }
}

@keyframes hover {
  0% {
    transform: translateY();
  }

  50% {
    transform: translateY(-0.2rem);
  }

  100% {
    transform: translateY();
  }
}

.neon {
  font-family: "neonderthaw";
  color: white;
  font-weight: normal;
  text-shadow: 0 0 4px #fff, 0 0 30px #ff9535, 0 0 5px #ff9535, 0 0 60px #ff9535,
    0 0 80px #ff9535;
}

.sub-heading {
  display: block;
}

.details {
  background-color: #1d1d1d;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details-img {
  max-width: 25rem;
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  width: 15rem;
  border-radius: 9px;
  border: 1px solid #fff;
  box-shadow: 0 0 4px #fff, 0 0 30px #ff9535, 0 0 5px #ff9535, 0 0 60px #ff9535;
}

.rules-card {
  width: 20rem;
}

.grid {
  display: grid;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  padding-top: 2rem;
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  padding-top: 2rem;
}

.grooms-people {
  background-color: #000;
}

.flex-row-people {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 4rem;
}

.container-width {
  max-width: 75rem;
  margin: auto;
  padding: 5rem 0;
}

.card-margin {
  padding: 1.5rem 1rem;
}
.card-img {
  border-radius: 8px 8px 0 0;
  max-width: 100%;
  height: 157.87px;
}

.rules-heading {
  text-align: center;
}

.details-row {
  gap: 3rem;
  justify-content: center;
}

.card:hover,
.card:active {
  animation: hover 2s ease-in-out infinite;
  box-shadow: 0 0 4px #fff, 0 0 30px #b915cc, 0 0 5px #b915cc, 0 0 60px #b915cc;
}

.intro-text {
  text-shadow: 0 0 4px #fff, 0 0 30px #ff9535, 0 0 5px #ff9535, 0 0 60px #ff9535,
    0 0 80px #ff9535;
  animation: neonize 1.5s ease-in;
}

.header-heading {
  font-size: 4rem;
  animation: neonize 1.5s ease-in;
}

.hide {
  display: none;
}

.card-margin p {
  margin-top: 1rem;
}

.sub-heading-text {
  font-size: 1.2rem;
}

.rotate {
  transform: rotateY(180deg);
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.neon-border {
  border-radius: 9px;
  border: 1px solid #fff;
  box-shadow: 0 0 4px #fff, 0 0 30px #ff9535, 0 0 5px #ff9535, 0 0 20px #ff9535;
}

.grooms-person-img {
  max-width: 30%;
  height: auto;
}

.heading-subheading {
  margin-bottom: 2rem;
}

.btn-groom {
  font-size: 2rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  margin-bottom: 2rem;
  position: relative;
}

.btn-groom:hover,
.btn-groom:active {
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
  text-shadow: 0 0 4px #fff, 0 0 30px #b915cc, 0 0 5px #b915cc, 0 0 60px #b915cc;
}

.grooms-text {
  width: 40rem;
}

.grooms-text {
  line-height: 1rem;
}

.guitar-person {
  width: 50px;
  position: absolute;
}

.btn-groom span {
  margin-right: 1rem;
}

.fun-fact {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  gap: 0.5rem;
  line-height: 1.5rem;
}

.guitar-bullets {
  width: 30px;
}

.fact-intro {
  margin-top: 1rem;
  font-weight: 700;
}

@media (max-width: 600px) {
  .nav-bar {
    display: flex;
    position: sticky;
    top: 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    padding-right: 0;
    font-size: 1.5rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* mobile font sizes */
  h1 {
    font-size: 2.5rem;
    width: 30rem;
  }

  /* Grids */
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .card {
    margin: auto;
  }

  /* Rockstars */
  .flex-row-people {
    flex-direction: column;
  }

  .grooms-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }

  .grooms-text {
    order: 2;
  }

  .grooms-person-img {
    max-width: 50%;
    align-self: center;
  }

  .details-row {
    flex-direction: column;
    text-align: center;
    padding: 1.25rem;
  }

  .details-row img {
    flex-direction: column;
    max-width: 70%;
  }

  .grooms-text {
    width: 22rem;
    align-self: center;
  }
  .heading-subheading {
    padding: 0 1rem;
  }

  .heading-subheading h2 {
    text-align: center;
  }

  .fun-fact {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    gap: 0.5rem;
    line-height: 1.5rem;
  }

  .header-heading {
    font-size: 2rem;
  }
}

@media (max-width: 1199px) and (min-width: 601px) {
  .nav-bar {
    display: flex;
    position: sticky;
    top: 0;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    padding-right: 0;
    font-size: 1.5rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
  }

  /* mobile font sizes */
  h1 {
    font-size: 2.5rem;
    width: 30rem;
  }

  /* Grids */
  .grid-3 {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .card {
    margin: auto;
  }

  .activity-card {
    height: 440px;
  }

  .rules-card {
    height: 710px;
  }

  /* Rockstars */
  .flex-row-people {
    flex-direction: column;
  }

  .grooms-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
  }

  .grooms-text {
    order: 2;
  }

  .grooms-person-img {
    max-width: 50%;
    align-self: center;
  }

  .details-row {
    flex-direction: column;
    text-align: center;
    padding: 1.25rem;
  }

  .details-row img {
    flex-direction: column;
    max-width: 40%;
  }

  .grooms-text {
    width: 22rem;
    align-self: center;
  }
  .heading-subheading {
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .heading-subheading h2 {
    text-align: center;
  }

  .sub-heading-text {
    line-height: 1.6rem;
  }

  .fun-fact {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    gap: 0.5rem;
    line-height: 1.5rem;
  }

  .header-heading {
    font-size: 2.5rem;
  }
}

.hidden {
  display: none;
}
